<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.pexels.com/es-es/">
</head>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://www.pexels.com/es-es/foto/persona-tecnologia-ordenador-estudio-de-sonido-5657660/" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title ">Nada suena igual dos veces</h5>
        <p class="card-text">Cada programa, cada playlist y cada DJ es una nueva mutación sonora. Escuchá en vivo, descubrí lanzamientos y navegá entre ritmos impredecibles.</p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
      </div>
    </div>
  </div>
</div>
