<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://pixabay.com/es/">
  <title>Document</title>
</head>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <div class="content-img my-4">
      <img src="https://media.istockphoto.com/id/1665390175/photo/headphones-and-mic-at-the-radio-station.jpg?s=1024x1024&w=is&k=20&c=pyP_HORU0uJkR-h6KLb5MhIBClwFSci2b6tO0ydz9kY=" class="img-fluid rounded-circle" alt="...">
    </div>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title ">Nada suena igual dos veces</h5>
        <p class="card-text">Cada programa, cada playlist y cada DJ es una nueva mutación sonora. Escuchá en vivo, descubrí lanzamientos y navegá entre ritmos impredecibles.</p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
      </div>
    </div>
  </div>
</div>
